<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="15"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Webhook</title>
</head>
<body>
<div class="w-75 p-3" style="background-color: #eee;">
<nav class="navbar navbar-light" style="background-color: #06727c;">
  <h3 >Github Webhook</h3>
</nav>

    <table class="table ">
        <thead>
          <tr>
            <th scope="col">Request_ID</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
            <th scope="col">From_Branch</th>
            <th scope="col">To_Branch</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <tbody>
            {%for data in response%}
          <tr>
            <th scope="row">{{ data["request_id"] }}</th>
            <td>{{ data["author"]}}</td>
            <td>{{data["action"]}}</td>
            <td>{{data["from_branch"]}}</td>
            <td>{{data["to_branch"]}}</td>
            <td>{{data["timestamp"]}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</div>
</body>
</html>